.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a {
    padding: 10px;
    color: #222;
    text-decoration: none;
}

nav a:hover {
    color: orangered;
    background-color: #fdfdfd;
}
.selected {
    color:orangered;
}